<meta charset="utf-8">
<title>medication-search demo</title>
<script src="/js/drugbank-ui.min.js"></script>
<link rel="stylesheet" href="/css/app.css">

<div class="app">
  <% if logged_in? %>
    <b>You're "logged in"</b>
    Click <a href="/logout">here</a> to destroy the logged in session.
  <% else %>
    <b>You aren't logged in</b>
    Click <a href="/login/345">here</a> to do a sample login as user 345!
  <% end %>

  <br/><br/>

  <form action="/" method="POST" id="sample-form">
    <div class='form-row'>
      <label>Your name:</label>
      <input class="regular-field" type="text" name="name" value=""/>
    </div>
    <div class='form-row'>
      <label>Medication 1:</label>
      <db-medication-search
        refresh-jwt="/protected-refresh-jwt"
        name="medication1"
        value=<%= @medications && @medications.length > 0 ? @medications[0] : "DBPC0482409" %>
      ></db-medication-search>
    </div>
    <div class='form-row'>
      <label>Medication 2:</label>
      <db-medication-search
        refresh-jwt="/protected-refresh-jwt"
        name="medication2"
        value=<%= @medications[1] if @medications && @medications.length > 1 %>
      ></db-medication-search>
    </div>
    <div class='form-row'>
      <label>Medication 3:</label>
      <db-medication-search
        refresh-jwt="/protected-refresh-jwt"
        name="medication3"
        value=<%= @medications[2] if @medications && @medications.length > 2 %>
      ></db-medication-search>
    </div>
    <div class='form-row'>
      <input type="submit" value="Submit" />
    </div>
  </form>

  <div id="message">
    <% if @medications %>
      Hello <%= !@name.empty? ? @name : 'Anonymous Person' %>, you chose:
      <ul>
        <% @medications.each do |dbpcid| %>
          <li><%= dbpcid %></li>
        <% end %>
      </ul>
    <% end %>
  <div>
</div>
